<!DOCTYPE html>
<html>
  <head>
    <title>WoWelp</title>
    <%= favicon_link_tag "wow_logo.jpg" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPS_API_KEY']}" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <script src="https://kit.fontawesome.com/0edb721942.js" crossorigin="anonymous" ></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
